name: "Publish package to PyPI"

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install Python 3.14
        run: uv python install 3.14
      - name: Build
        run: uv build
      # Check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl --module doidownloader "10.1057/s41599-024-03044-y" "10.1002/asi.24706"
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz --module doidownloader "10.1057/s41599-024-03044-y" "10.1002/asi.24706"
      - name: Publish
        run: uv publish
